/*
https://colorhunt.co/palette/225760
*/

body{
    background-color: #dddddd;
    font-family: "Book Antiqua";
}

p, ul, ol{
    color: #30475e;
    font-size:20px;
}

h1{
    color: #f05454;
    font-size:32px;
    font-family: 'Syne Mono', monospace;
}

h1:hover{
    color: #222831;
    font-family: 'Codystar', cursive;

}

h2{
    font-size: 28px;
    font-family: 'New Tegomin', serif;
}

h3{
    font-size: 24px;
    font-family: 'Codystar', cursive;
}

a:link{
    color: #f05454;
    font-size: 22px;

}

a:visited{
    color: yellow;
    font-size: 22px;
}

a:hover{
    color: cyan;
    font-size: 36px;
}

a:active{
    color: magenta;
}

