/*
https://colorhunt.co/palette/225760
*/

body{
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;;
}

p, ul, ol{
    color: #30475e;
    font-size:20px;
}

h1{
    color: #f05454;
    font-size:32px;
    font-family: 'Dela Gothic One', cursive;
}

h1:hover{

    text-shadow: 3px 3px 3px #30475e;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}

a:link{
    color:#f05454;
}

a:visited{
    color: #8ac4d0;
}

a:hover{
    color:#f05454;
}

a:active{
    font-color:cyan;
}



